# assignment
_doc.public
_doc.private
ocamlstocks.zip
src.zip

# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build

# temporary files
*.swp
*~
\#*\#
.DS_Store

# python
get-pip.py
venv
env

# misc.
*.txt 
*.png
*.jpeg
*.jpg
*.pdf
!resources/algorithm.png
!resources/history_score.png